/*Flash*/
#overlay{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
  z-index:1001;
  
}

#overlay-content{ 
  position: absolute;
  display: none;
  width: 360px;
  height: 230px;
  padding: 5px;
  margin-top: 5%;
  border: 7px solid #0c06fa;
  background-color: white;
  z-index:1002;
  text-align: center;
  border-radius: 15px;
  
  
}

